[user]
	signingKey = 5326A0DFEF2F17EC
	email = 49640654+kalwabed@users.noreply.github.com
	name = kalwabed
[commit]
	gpgsign = true
[core]
	editor = nvim
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
